<!DOCTYPE html>
<head>
<meta charset="UTF-8">
    <title>P6</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./StyleSheet/form.css">
    </head>
    <body>

        <h3 id="title">请填写提交报名信息</h3>
    <form class="stu-form" method="post" action="/postMessage">
    <div id="warning" style="display: none"></div>
    <div class="stu-form-all">
    <div class="stu-info">
    <label for="name">姓名：</label>
<input type="text" name="name" id="name"  placeholder="姓名">
    </div>
    <div class="stu-info">
    <label for="class">班级：</label>
<input type="text" name="class" id="class" placeholder="班级（e.g.计科18xx）">
    </div>
    <div class="stu-info">
    <label for="number">学号：</label>
<% if(s_id !== null){%>
<input type="text" name="number" id="number" placeholder="学号" value="<%= s_id %>" readonly="readonly">
        <%}else{%>
    <input type="text" name="number" id="number" placeholder="学号">
        <%}%>
    </div>
    <div class="stu-info">
    <label for="tel">电话：</label>
<input type="text" name="tel" id="tel" placeholder="电话">
    </div>
    <button type="button" class="btn-login" id="sub-btn">提交</button>
    </div>
    </form>

    <script src="./resource/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" id="bg" src="./JavaScript/from.js"></script>

    </body>
    </html>

